* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.score-board-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff33;
  border: 3px solid #ffffff30;
  border-radius: 10px;
  width: 80%;
  margin-top: 30px;
  height: 500px;
  padding: 30px;
}
.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  order: 1;
}
.game-status {
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 15px;
}
.score-text {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.score {
  text-align: center;
  color: #6a59ff;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 15px;
}
.again-button{
  color: #3d3d3d;
  background-color: #ffce27;
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  width: 125px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}
.result-img-card {
  display: flex;
  justify-content: center;
  order: 2;
}
.result-img {
  width: 90%;
}
@media only screen and (max-width: 768px) {
  .score-board-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
  }
  .result-container {
    order: 2;
  }
  .result-img-card {
    order: 1;
  }
  .result-img {
    width: 60%;
  }
  .game-status {
    font-size: 26px;
  }
  .score-text {
    font-size: 18px;
  }
  .score {
    font-size: 28px;
  }
}